<div id="mainDiv" class="layoutDiv">
  <div id="top" class="layoutDiv">
    <div id="log" class="layoutDiv innerDiv">Лог</div>
    <div id="combatants" class="layoutDiv innerDiv">
      Комбатанты
      <div id="enemies" class="layoutDiv">Враги</div>
      <div id="allays" class="layoutDiv">
        <button class="btn btn-outline-primary" (click)="chooseHero()">
          <img id="characterImg" *ngIf="character; else chooseheroText" src="{{ character.img }}" />
          <ng-template #chooseheroText>Выбрать</ng-template>
        </button>
      </div>
    </div>
    <div id="settings" class="layoutDiv innerDiv">Настройки</div>
  </div>
  <div id="bot" class="layoutDiv">
    <div id="leftBot" class="layoutDiv innerDiv"><app-character-stats></app-character-stats></div>
    <div id="middleBot" class="layoutDiv innerDiv">
      <div id="lightcones" class="layoutDiv" (click)="chooseLightcone()">
        <button class="btn btn-outline-secondary"><img src="{{ lightcone.pictureUrl }}" /></button>
        <div>{{ lightcone.name }}</div>
      </div>
      <div id="relics" class="layoutDiv">
        <div *ngFor="let item of relicDiv" class="oneRelicPart" (click)="chooseRelics()">
          <img width="36px" height="36px" src="{{ item.img }}" />
        </div>
      </div>
      <div id="skills" class="layoutDiv">Способность</div>
    </div>

    <div id="rightBot" class="layoutDiv innerDiv">
      <div id="supRelics" class="layoutDiv">Релики саппортов</div>
      <div id="supLС" class="layoutDiv">Конусы сапортов</div>
    </div>
  </div>
</div>

<app-hero-picker *ngIf="mainPageState == 'pickHero'"></app-hero-picker>
<app-lightcone-picker *ngIf="mainPageState == 'pickLightcone'"></app-lightcone-picker>
<app-relics *ngIf="mainPageState == 'pickRelics'"></app-relics>
